* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 0.8rem;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-size: 2rem;
  /*color: blue;*/
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  width: 100%;
  height: 60px;
  display: block;
  margin-bottom: 0.5rem;
}

.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
}

input[type=checkbox] {
   position: absolute;
   top: -100px;
}

input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

.clip p {
  cursor: pointer;
}

@media all and (min-width: 800px) {
  .wrapper {
    width: 40%;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.elem_usr {
  padding: 10px;
  margin: 10px 0px 10px 0px;
  text-align: right;
  font-size: 1rem;
}

.elem_machine {
  padding: 10px;
  font-size: 1rem;
  margin: 10px 0px 10px 0px;
}

.time {
  text-align: center;
  font-style: italic;
  color: grey;
  margin-top: 40px;
}
