<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web dictaphone</title>
    <link href="{{ url_for('static', filename="app.css") }}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>{{ interactive_js }}</script>
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>BLA (Best Lucky Assistant)</h1>
        <!-- <audio src="" autoplay controls id="sound"></audio> -->

         <!-- <h2>You said : <span id="result"></span></h2> -->
      </header>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
          <div id="buttons">
          <button id="record">Record</button>
        </div>

      </section>
      <section id="conversation">
      </section>
    </div>


    <script src="{{ url_for('static', filename="app.js") }}"></script>
    <script src="{{ url_for('static', filename="recorder.js") }}"></script>

  </body>
</html>
