<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web dictaphone</title>
    <link href="{{ url_for('static', filename="app.css") }}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>{{ interactive_js }}</script>
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Web dictaphone</h1>
        <h2>This is my var: {{ name }}</h2>
      </header>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record" onclick="startRecording(this);">Record</button>
          <button class="stop" onclick="stopRecording(this);">Stop</button>
        </div>
      </section>

      <section class="sound-clips">
      </section>
    </div>

    <script src="{{ url_for('static', filename="app.js") }}"></script>
    <script src="{{ url_for('static', filename="recorder.js") }}"></script>

  </body>
</html>
